* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.seatsContainer {
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-basis: 48%;
}
.seats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px 0;
  justify-items: center;
}

.gstyle {
  padding: 0 15px;
}

.seats > div {
  height: 30px;
  width: 30px;
  border-radius: 20%;
  font-size: 0;
}

.seats div:nth-child(2n) {
  margin-right: 25px;
}

.bookedStyle {
  background-color: #f8485e;
}

.showraper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  flex-basis: 100%;
}

.showraper > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showraper > div > span {
  height: 15px;
  width: 15px;
  display: block;
  margin-right: 10px;
  border-radius: 20%;
}
.showraper > div > p {
  margin-right: 10px;
}

.booked {
  background-color: #00c1d4;
}

.selected {
  background-color: #f8485e;
  cursor: pointer;
}

.available {
  background-color: #97cacf;
  cursor: pointer;
}
