.seats {
  max-width: 250px;
  /* height: 100vh; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.seats > div {
  height: 30px;
  width: 30px;
  border-radius: 20%;
  font-size: 0;
}

.seats div:nth-child(2n) {
  margin-right: 40px;
}

.green {
  background-color: #97cacf;
  cursor: pointer;
}

.bookedStyle {
  background-color: #f8485e;
}
